<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="phone"><span class="label">Georgetown</span>{{ site.georgetown_phone }}</li>
          <li class="phone"><span class="label">Guelph</span>{{ site.guelph_phone }}</li>

          <li class="name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>

          {%- if site.email -%}
          <li class="email"><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
      </div>
    </div>

    <p class="description">{{ site.description }}</p>
  </div>
</footer>

<small class="copyright">We're ready to rock - 🗿- Copyright &copy; {{ site.time | date: '%Y' }}</small>
