<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="{% if page.url == '/' %}home{% else %}{{page.title | downcase | replace:' ','-' | replace:'&','and'}}{% endif %}">

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <div class="pre-footer">
      <div class="wrapper">
        <div>
          <p><strong>We use Unilock <a href="https://unilock.com/uvision-3d-landscape-creator/" target="_blank">Uvision 3D Landscape Creator</a></strong> professional software to plan and design your hardscaping projects.</p>

          <p>It is the <strong>most comprehensive software for designing landscapes available today</strong>. Construct patios, driveways, pools, decks, seat walls, fireplaces, grill islands and more! Then finish off your plan with plants and flowers! 16,000 gadgets to choose from.</p>
        </div>

        <img src="/assets/img/uvision-software-2017.jpg" alt="Uvision 3D Landscape Creator">
      </div>
    </div>

    {% include footer.html %}

    <script src="/assets/bundle/vendor.js"></script>
    <script src="/assets/bundle/app.js"></script>

  </body>

</html>
