---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}

    {% if page.galleries != null %}
      {% for gallery in page.galleries %}
        <div
          id="gallery-{{ forloop.index }}"
          class="gallery{% if forloop.first %} gallery-first{% elsif forloop.last%} gallery-last{% endif %}"
        >
          <header class="gallery-header">
            {% if gallery.title %}
              <h3 class="gallery-title">{{ gallery.title }}</h3>
            {% endif %}

            {% if gallery.description %}
              <p class="gallery-description">{{ gallery.description }}</p>
            {% endif %}
          </header>

          <div
            class="gallery-slides"
            itemtype="http://schema.org/ImageGallery"
            itemscope
          >
            {% for slide in gallery.slides  %}
              {% assign image_name = slide.i | split: '.' %}
              {% assign image_meta = image_name[0] | split: site.image_separator %}

              <figure
                class="gallery-slide{% if forloop.first %} gallery-slide-first{% elsif forloop.last%} gallery-slide-last{% endif %}"
                itemprop="associatedMedia"
                itemtype="http://schema.org/ImageObject"
                itemscope
              >
                <a
                  class="gallery-slide-link{% if forloop.first == false %} gallery-slide-link-thumb{% endif %}"
                  href="/assets/img/full/{{ slide.i }}"
                  itemprop="contentUrl"
                  data-size="{{ image_meta[1] }}"
                >
                  <img
                    class="gallery-slide-image"
                    src="{% if forloop.first %}/assets/img/full/{{ slide.i }}{% else %}/assets/img/thumb/{{ image_name[0] }}-{{ site.thumbnail_width}}.{{ image_name[1] }}{% endif %}"
                    itemprop="thumbnail"
                    alt="{{ slide.description }}"
                  />
                </a>

                <!-- <figcaption
                  class="gallery-slide-caption"
                  itemprop="caption description"
                >{{ slide.caption }}</figcaption> -->
              </figure>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</article>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="pswp__bg"></div>

  <div class="pswp__scroll-wrap">
      <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
      </div>

      <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
              <div class="pswp__counter"></div>

              <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

              <button class="pswp__button pswp__button--share" title="Share"></button>

              <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

              <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

              <div class="pswp__preloader">
                  <div class="pswp__preloader__icn">
                    <div class="pswp__preloader__cut">
                      <div class="pswp__preloader__donut"></div>
                    </div>
                  </div>
              </div>
          </div>

          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
              <div class="pswp__share-tooltip"></div>
          </div>

          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
          </button>

          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
          </button>

          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
      </div>
  </div>
</div>
