.gallery {
  @include clearfix;

  margin-left: -$spacing / 2;
  margin-right: -$spacing / 2;

  &-header {
    padding: 0 $spacing;
  }

  & + .gallery {
    margin-top: $spacing * 5;
  }
}

.gallery-slide {
  margin: $spacing;
  float: left;
  clear: right;

  &-first {
    @media screen and (min-width: $on-palm) {
      max-width: 500px;
    }
  }

  &-link {
    display: block;

    &-thumb {
      display: none;
      width: 120px;

      @media screen and (min-width: $on-palm) {
        display: block;
      }
    }
  }

  &-image {

  }

  &-caption {

  }
}
