.site-header {
  border-bottom: 0;
  min-height: 0;
  background-color: #fff;

  // .wrapper {
  //   max-width: none;
  //   width: auto;
  // }

  @media screen and (max-width: $on-laptop) {
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid $light-grey;
  }

  @media screen and (min-width: $on-laptop) {
    padding: ($spacing * 2) $spacing;
  }

  // @media screen and (min-width: 1100px) {
  //   padding-left: calc(5% + 18px);
  //   padding-right: calc(5% + 18px);
  // }
}
