body {
  background-color: #dfe3e8;
  color: $dark-grey;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: $spacing * 4;
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
  margin-bottom: $spacing * 2;
  // display: inline-block;

  // &:before {
  //   content: "";
  //   display: block;
  //   height: 2px;
  //   width: 100%;
  //   background-color: $dark-green; //currentColor;
  //   position: absolute;
  //   bottom: 0;
  //   left: -($spacing * 2);
  // }

  // &:after {
  //   content: "";
  //   display: block;
  //   height: 2px;
  //   width: 100%;
  //   background-color: $dark-green; //currentColor;
  //   position: relative;
  //   left: 0;
  // }
}

a {
  color: $dark-green !important;
}

blockquote {
  color: #000;
  border-color: $dark-green;
  padding: ($spacing * 2) ($spacing * 3);
  font-size: 1.15em;
  letter-spacing: 0.05px;
}

.pre-footer {
  background: #fff;
  border-top: 1px solid $dark-grey;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: $spacing * 4;
    padding-bottom: $spacing * 4;

    @media screen and (max-width: $on-palm) {
      flex-wrap: wrap;
    }
  }
}

.site-footer {
  a {
    color: $green !important;
  }

  p {
    color: $light-grey;
  }
}

.site-header,
.page-content {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #fff;
}

.page-content {
  overflow: hidden;
}

.about-criteria {
  background: $dark-green;
  color: #fff;
  padding: $spacing * 2;
  text-shadow: 1px 1px 2px rgba(70, 70, 70, 0.7);

  & + .about-criteria {
    margin-top: $spacing;
  }

  &.grey {
    background: $grey;
  }

  &.orange {
    background: $orange;
  }

  &.blue {
    background: $blue;
  }
}

.label {
  display: inline-block;
  width: 100px;
}

.contact-card {
  background: #f9f9f9;
  padding: $spacing * 2;
  box-shadow: 0 3px $spacing 0 rgba(0, 0, 0, 0.1);
  margin-bottom: $spacing * 4;

  ul {
    list-style: none;
    margin: 0;
  }

  li + li {
    margin-top: $spacing;
  }
}
